{% extends 'base.html' %}

{% block content %}
  <div class="container">

    <a href="{% url 'create-location' %}" class="btn btn-primary">Criar local</a>

    <div class="d-flex flex-column align-items-center justify-content-center">
      <table class="table table-striped mt-5">
        <thead>
          <th>Cidade</th>
          <th>Estado</th>
          <th>Opções</th>
        </thead>

        <tbody>
          {% for location in page_obj %}
            <tr>
              <td>
                {{ location.city }}
              </td>
              <td>{{ location.state }}</td>
              <td>
                <a href="{% url 'update-location' location.pk %}" class="btn btn-warning">Editar</a>
                <a href="{% url 'delete-location' location.pk %}" class="btn btn-danger">Deletar</a>
              </td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="?page=1">&laquo; Primeira</a>
        </li>

        {% for num_page in elided_page_range %}
          {% if num_page == '…' %}
            <li class="page-item">
              <span class="page-link">…</span>
            </li>
          {% elif page_obj.number == num_page %}
            <li class="page-item active">
              <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
            </li>
          {% else %}
            <li class="page-item">
              <a class="page-link" href="?page={{ num_page }}">{{ num_page }}</a>
            </li>
          {% endif %}
        {% endfor %}

        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">Última &raquo;</a>
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
